/* CSS for Layout the Website */

/* Main Grid Element */
@media only screen and (max-width: 768px) {
    .burgerButton {
        display: inline;
        z-index: 100;
    }

    .g2_navigation {
        position: fixed; 
        top: 0;
        bottom: 0;
        opacity: 1;
        /* width: 250px; */
        right: 0px;
        transition: transform .3s ease-in-out;
    }

    .g2_navigation > ul {
        /* padding: 5px 10px; */
    }

    .g2_navigation > ul > li {
        display: block;
        padding: 10;
        margin: 0;
    } 
    .responsive-li {
        display: block;

    }
    .gridlayout {
        padding-bottom: 50px;
        min-height: 100%;
        display: grid;

        /* Vertical evenly divided */
        grid-template-columns: 1fr 2fr 2fr 100px;

        grid-template-rows: auto auto 1fr auto;

        grid-template-areas:
                "header header header navigation"
                "aside aside aside navigation" 
                "content content content navigation"
                "footer footer footer navigation" ;
    }

    .gridlayout-without-nav {
        /* Vertical evenly divided */
        grid-template-columns: 1fr 2fr 2fr;
    }

    .gridlayout-with-nav {
        /* Vertical evenly divided */
        grid-template-columns: 1fr 2fr 2fr 1fr;
    }
    .subnav {
        display: none;
    }
}

@media (min-width: 768px) {
    .burgerButton {
        display: none;
    }

    .g2_navigation {
        opacity: 1;
    }  
    .responsive-li {
        display: none;
    }
    .gridlayout {
        padding-bottom: 50px;
        min-height: 100%;
        display: grid;

        /* Vertical evenly divided */
        grid-template-columns: 1fr 2fr 2fr 1fr;

        grid-template-rows: auto 50px 1fr auto;

        grid-template-areas:
                "header header header header"
                "navigation navigation navigation navigation"
                "aside content content content" 
                "footer footer footer footer";
    }
    .subnav {
        display: inline;
        position: absolute;
    }
}

/*@media (min-width: 992px) {
    .gridlayout {
        min-height: 100%;
        display: grid;

        !* Vertical evenly divided *!
        grid-template-columns: 1fr 2fr 2fr 1fr;

        grid-template-rows: auto 50px 1fr auto;

        grid-template-areas:
                "header header header header"
                "navigation navigation navigation navigation"
                "aside content content content" 
                "footer footer footer footer";
    }
}*/


.g1_header {
    grid-area: header;
    background-color: transparent;
    position: relative;
}

.g2_navigation {
    grid-area: navigation;
}

.g3_content {
    grid-area: content;
    background-color: transparent;
    margin: 20px;
}

.g4_aside {
    grid-area: aside;
    background-color: dimgrey;
}

.g5_footer {
    grid-area: footer;
    background-color: rgb(66, 64, 64);
    height: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.g2_navigation a:link {
    color: white;
}
.g2_navigation a:visited {
    color: yellow;
}
.g2_navigation a:active {
    color: yellow;
}
.g2_navigation a:hover {
    color: yellowgreen;
}
