/* CSS for Style the content */

html, body{
    font-size: 1em;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.style_header{
    margin: 20px;
}

.style_navigation{
    margin: 20px;
}

.style_content{
    margin: 20px;
}

.style_aside{
    margin: 20px;
}

.style_footer{
    margin: 20px;
}