/* CSS for Style the content */

html, body{
    font-size: 1em;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

.burgerButton {
    display: none;
    position: absolute; 
    right: 5px; 
    top: 20px;
}

@media (max-width: 576px) {
    .burgerButton {
        display: inline;
    }
}

.style_header{
    margin: 20px;
}

.style_navigation{
    margin: 20px;
}

.style_content{
    margin: 20px;
}

.style_aside{
    margin: 20px;
}

.style_footer{
    margin: 20px;
}

nav > ul > li {
    display: inline;
    color:black; 
    padding: 0.5em 0.6em;
}

/* Contact form CSS */

input[type=text], input[type=tel], input[type=email], textarea, select {
    width: 100%;
    padding: 10px;
    margin: 5px;
    display: inline-block;
    border: 1px solid #000000;
    border-radius: 3px;
    box-sizing: border-box;
}

input[type=submit], input[type=reset] {
    width: 50%;
    background-color: grey;
    color: lightgrey;
    padding: 10px;
    margin: 5px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type=submit]:hover, input[type=reset]:hover {
    background-color: dimgray;
}

.contactform {
    border-radius: 5px;
    background-color: lightgrey;
    padding: 20px;
}